<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PizzaDev - Mensagens</title>
</head>
<body>
  <h1>Mensagens Recebidas</h1>
  
  {{#if messages.length}}
    <table>
      <tr>
        <th>Titulo</th>
        <th>Email</th>
        <th>Mensagem</th>
        <th>Ações</th>
      </tr>
      {{#each messages}}
        <tr>
          <td>{{this.dataValues.titulo}}</td>
          <td>{{this.dataValues.email}}</td>
          <td>{{this.dataValues.mensagem}}</td>
          <td>
            <a class="btn-excluir" href="/admin/message/delete/{{this.dataValues.id}}" onclick='confirmDelete()'>Excluir</a>
          </td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <p>Não há mensagens para exibir.</p>
  {{/if}}
  
  <a href="/admin">Voltar</a>
</body>
</html>